<fieldset>
  <legend>Redmine Wikicipher Plugin settings</legend>
  <p>
    <label>Secret key</label>
    <%= text_field_tag 'settings[secret_key]', @settings[:secret_key], :size => 50 %>
  </p>
</fieldset>
